:root {
  font: Calibri, Arial, sans-serif;
  --nav-color: #6af;
  --nav-hover-color: #48d;
  --container-color: #ccc;
  --black-theme-shapez: #3e3f47;
  --gap-between-containers: 2.5rem;
}

body {
  background-color: #ddd;

  margin: 0;

  color: #000;
  font: 1.5rem Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar-root {
  position: sticky;
  z-index: 999;

  width: auto;
  left: 0;
  top: 0;

  padding: 0.5rem 2rem;
  margin-bottom: var(--gap-between-containers);

  background-color: var(--nav-color);

  color: #fff;

  a {
    color: inherit;
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    position: relative;

    .brand {
      display: block;
      // margin-bottom: 1rem;
      margin-left: -1.5rem;

      font-size: 2rem;
      font-weight: bold;

      img {
        position: absolute;
        top: 0.25rem;
        height: 4rem;
        width: 4rem;
      }

      span {
        padding-left: 5rem;
      }
    }

    .nav {
      display: inline-flex;
      flex-flow: row nowrap;

      padding: 0 2rem;
      margin: 0;

      list-style: none;
      white-space: nowrap;

      .item {
        padding: 0 1rem;

        font-size: 1.75rem;
      }

      .link {
        padding: 0 0.4rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }
    }

    .user {
      display: block;
      margin-left: auto;

      font-size: 1.75rem;
      white-space: nowrap;

      .avatar {
        position: relative;
        top: 0.3rem;
        margin: -0.3rem 0;
        height: 2rem;
        width: 2rem;
        padding: 0.2rem;
        border-radius: 100%;

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }

      .name {
        // margin-left: 0.2rem;
        padding-right: 0.75rem;
        border-radius: 0.5rem;
      }

      .logout {
        margin-bottom: -0.2rem;
        height: 1.5rem;
        width: 1.5rem;
      }

      .login {
        left: 0;
        padding: 0 0.4rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }
    }

    .discord-login {
      height: 1rem;
    }
  }

  .content {
    padding: 3rem;
  }
}

.header {
  padding: 0 var(--gap-between-containers);
  height: 4rem;

  margin: 3rem 0 0 0;

  .title {
    font-weight: 900;
    font-size: 2.5rem;
  }

  .line {
    height: 0.1rem;

    background-color: var(--black-theme-shapez);
  }

  .author {
    font-weight: 800;
    font-size: 1.75rem;

    color: var(--nav-color);
  }
}

.blueprint {
  display: grid;
  grid-template-rows: 10rem 15rem 14rem;
  grid-template-columns: 3fr 3fr;
  gap: var(--gap-between-containers);

  padding: var(--gap-between-containers);

  div {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  div::-webkit-scrollbar {
    width: 20px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #555;
    background-clip: padding-box;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0);
  }

  .viewport {
    grid-area: span 2 / span 1;
  }

  .stats {
    grid-area: span 1 / span 1;

    .list {
      margin: -0.25rem 0;
      padding: 0;
      font-size: inherit;
    }

    .title {
      font-weight: bold;
      padding-right: 1rem;

      &::after {
        content: ':';
      }
    }
  }

  .description {
    grid-area: span 1 / span 1;
    overflow-y: auto;

    p {
      margin: 0;
    }

    p + p {
      margin-top: 1rem;
    }
  }

  .forks {
    grid-area: span 1 / span 1;
  }

  .export {
    grid-area: span 1 / span 1;

    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 2.5rem 11.5rem;

    .nav {
      background-color: var(--black-theme-shapez);
      // display: flex;
      display: inline-flex;
      flex-flow: row nowrap;
      position: relative;

      padding: 0.25rem 0.5rem 0.01rem 0.5rem;
      margin: 0;

      white-space: nowrap;

      border-radius: 0.5rem 0.5rem 0 0;
      text-align: center;

      > * {
        padding: 0 0.5rem;

        font-size: 1.5rem;

        border: none;
        color: #fff;

        border-radius: 0.5rem 0.5rem 0 0;
      }

      .copy {
        height: calc(100% - 0.25rem);
        background-color: var(--nav-color);

        border-radius: 0.5rem;

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }

      .name {
        background-color: var(--container-color);

        padding: 0 0.5rem;
        margin-left: auto;
      }

      .json {
        background-color: var(--nav-color);

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }
    }

    .data {
      grid-area: span 1 / span 1;

      word-break: break-all;

      width: calc(100% - 2rem);
      // height: 100%;
      overflow-y: auto;

      width: auto;
      padding-right: 0rem;

      font-family: monospace;

      .item {
        margin: 0;
        padding: 0;

        font-size: 1.3rem;
      }
    }
  }
}
