:root {
  font: Calibri, Arial, sans-serif;
  --nav-color: #6af;
  --nav-hover-color: #48d;
  --container-color: #ccc;
  --black-theme-shapez: #3e3f47;
  --gap-between-containers: 2.5rem;
}

body {
  background-color: #ddd;

  margin: 0;

  color: #000;
  font: 1.5rem Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar-root {
  position: sticky;
  z-index: 999;

  width: auto;
  left: 0;
  top: 0;

  padding: 0.5rem 2rem;
  margin-bottom: var(--gap-between-containers);

  background-color: var(--nav-color);

  color: #fff;

  a {
    color: inherit;
  }

  .container {
    max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;

    position: relative;

    user-select: none;

    .brand {
      display: block;
      // margin-bottom: 1rem;
      margin-left: -1.5rem;

      font-size: 2rem;
      font-weight: bold;

      img {
        position: absolute;
        top: 0.25rem;
        height: 4rem;
        width: 4rem;
      }

      span {
        padding-left: 5rem;
      }
    }

    .nav {
      display: inline-flex;
      flex-flow: row nowrap;

      padding: 0 2rem;
      margin: 0;

      list-style: none;
      white-space: nowrap;

      .item {
        padding: 0 1rem;

        font-size: 1.75rem;

        &:hover {
          transform: translateY(-1px);
        }

        &:active {
          transform: translateY(1px);
        }
      }

      .link {
        padding: 0 0.4rem;
        border-radius: 0.5rem;

        &:hover {
          // background-color: var(--nav-hover-color);
          // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        }

        &:active {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px inset;
        }
      }
    }

    .user {
      display: block;
      margin-left: auto;

      font-size: 1.75rem;
      white-space: nowrap;

      .avatar {
        position: relative;

        top: 0.3rem;

        margin: -0.3rem 0;
        padding: 0.2rem;

        height: 2rem;
        width: 2rem;

        border-radius: 100%;
        // border: 1px solid var(--nav-hover-color);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

        // background-color: red;

        &:hover {
          background-color: var(--nav-hover-color);
        }

        &:active {
          transform: translateY(1px);
          box-shadow: none;
        }
      }

      .name {
        margin-left: 0.2rem;
        padding-right: 0.5rem;
        border-radius: 0.5rem;
      }

      .login {
        left: 0;
        padding: 0 0.4rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: var(--nav-hover-color);
        }
      }
    }

    .user-logout .logout {
      margin-bottom: -0.3rem;
      margin-left: 0.15rem;
      padding: 0.1rem;
      padding-left: 0.2rem;

      height: 1.5rem;
      width: 1.5rem;

      border-radius: 0.25rem;

      &:hover {
        transform: translateY(-1px);
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      }

      &:active {
        transform: translateY(1px);
        box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px 0 inset;
      }
    }

    .discord-login {
      height: 1rem;
    }
  }

  .content {
    padding: 3rem;
  }
}

.header {
  padding: 0 var(--gap-between-containers);
  height: 4rem;

  margin: 3rem 0 0 0;

  .title {
    font-weight: 900;
    font-size: 2.5rem;
  }

  .line {
    height: 0.1rem;

    background-color: var(--black-theme-shapez);
  }

  .author {
    font-weight: 800;
    font-size: 1.75rem;

    color: var(--nav-color);
  }
}

.blueprint {
  display: grid;
  grid-template-rows: 10rem 15rem 14rem;
  grid-template-columns: 3fr 1.5fr 0.5fr;
  gap: var(--gap-between-containers);

  padding: var(--gap-between-containers);

  div {
    background-color: var(--container-color);
    border-radius: 0.5rem;
    padding: 1rem;
  }

  div::-webkit-scrollbar {
    width: 20px;
  }

  div::-webkit-scrollbar-thumb {
    background-color: #555;
    background-clip: padding-box;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0);
  }

  .viewport {
    grid-area: span 2 / span 1;
  }

  .stats {
    grid-area: span 1 / span 1;

    margin-left: auto;

    .list {
      margin: -0.25rem 0;
      padding: 0;
      font-size: inherit;
    }

    .title {
      font-weight: bold;
      padding-right: 1rem;

      &::after {
        content: ':';
      }
    }
  }

  .tags {
    grid-area: span 1 / span 1;

    display: flex;
    flex-wrap: wrap;

    padding-right: 0;

    word-break: break-all;
    overflow-y: auto;

    .tag {
      // position: absolute;

      font-weight: bold;
      text-align: center;

      padding: 0.25rem 0.5rem;
      margin: 0.25rem;

      border-radius: 2rem 0 2rem 2rem;

      background-color: #f0fa;
    }

    // .title {
    //   font-weight: bold;
    //   padding-right: 1rem;

    //   &::after {
    //     content: ':';
    //   }
    // }
  }

  .description {
    grid-area: span 1 / span 2;
    overflow-y: auto;

    // padding: -0.5rem 0;
    padding: 0 0 0 1rem;

    > * {
      margin: 1rem 0;
    }
  }

  .forks {
    grid-area: span 1 / span 1;
  }

  .export {
    grid-area: span 1 / span 2;

    padding: 0;
    margin: 0;

    display: grid;
    grid-template-rows: 2.5rem 11.5rem;

    position: relative;

    > * {
      grid-area: span 1 / span 1;

      margin: 0;

      word-break: break-all;
    }

    .stringTypeCB {
      position: absolute;
      opacity: 0;

      right: 0.5rem;
      top: 0;

      // width: auto;
      width: 11rem;
      height: 2.5rem;

      border-radius: 0.5rem 0.5rem 0 0;
      z-index: 1;

      &:hover {
        + .nav .stringType .string,
        + .nav .stringType .json {
          transition: background-color 0.5s;
        }
      }

      &:checked {
        + .nav .stringType .string {
          background-color: var(--nav-color);
        }

        + .nav .stringType .json {
          background-color: var(--container-color);
        }

        ~ .data .string {
          display: none;
        }

        ~ .data .json {
          display: grid;
        }
      }
    }

    .nav {
      background-color: var(--black-theme-shapez);

      position: relative;
      display: inline-flex;

      flex-flow: row nowrap;

      padding: 0.25rem 0.5rem 0rem 0.5rem;

      white-space: nowrap;

      border-radius: 0.5rem 0.5rem 0 0;
      text-align: center;

      user-select: none;

      > * {
        font-size: 1.5rem;

        color: #fff;
      }

      .copy {
        height: calc(100% - 0.25rem);
        background-color: var(--nav-color);

        padding: 0 0.5rem;
        border-radius: 0.5rem;

        &:hover {
          background-color: var(--nav-hover-color);
        }

        &:active {
          background-color: var(--nav-hover-color);
        }
      }

      .stringType {
        background-color: var(--black-theme-shapez);
        position: absolute;

        right: 0;
        top: 0;

        margin-left: auto;
        padding: 0.25rem 0.5rem 0 0;

        > * {
          padding: 0 0.5rem 0.45rem 0.5rem;

          border-radius: 0.5rem 0.5rem 0 0;
        }

        .string {
          background-color: var(--container-color);
        }

        .json {
          background-color: var(--nav-color);
        }
      }
    }

    .data {
      overflow-y: auto;

      width: auto;
      padding-right: 0rem;
      padding-top: 0.75rem;

      font-family: monospace;

      > * {
        margin: 0;
        padding: 0;

        font-size: 0.75rem;
      }

      .json {
        display: none;
      }
    }
  }
}
