{
    "env": {
        "browser": true,
        "es6": true
    },
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "prettier"
    ],
    "globals": {
        "Atomics": "readonly",
        "SharedArrayBuffer": "readonly"
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "modules": true
        }
    },
    "plugins": ["@typescript-eslint", "prettier"],
    "rules": {
        "no-undef": "off",
        "no-unused-vars": "off",
        "no-prototype-builtins": "off",
        "linebreak-style": "off",
        "quotes": [2, "single", { "avoidEscape": true }],
        "@typescript-eslint/no-var-requires": 0,
        "@typescript-eslint/keyword-spacing": ["error", { "after": false, "overrides": { "return": { "after": true }, "else": { "after": true } } } ],
        "no-multi-spaces": "error",
        "no-multiple-empty-lines": ["error", { "max": 1 }],
        "keyword-spacing": "off",
        "curly": "error",
        "no-trailing-spaces": "error",
        "spaced-comment": ["error", "always"]
    }
}
