html
  head
    title #{name} - Shapez.io Blueprint
    link(rel='stylesheet' href='/stylesheets/style.css')
    script(src='/javascripts/building.js')
    script(src='/javascripts/render.js')
    script(src='/javascripts/lzstring.js')
  body(onload='renderBlueprint()')
    img(id='sprites' src='/images/sprites.png' style='display: none')
    canvas(id='viewer')
    div(id='blueprint') #{bpString}