:root {
  font: Calibri, Arial, sans-serif;
}

body {
  background-color: #ddd;
  margin: 0;
  color: #000;
  font: 1.5rem Calibri, Arial, sans-serif;
}

a {
  text-decoration: none;
}

.navbar-root {
  position: relative;
  z-index: 999;
  padding: 0.5rem 2rem;
  margin-bottom: 1.5rem;
  background-color: #6af;
  color: #fff;
}
.navbar-root::after {
  content: "";
  display: table;
  clear: both;
}
.navbar-root a {
  color: inherit;
}
.navbar-root .container {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
}
.navbar-root .container::after {
  content: "";
  display: table;
  clear: both;
}
.navbar-root .container .brand {
  display: block;
  margin-left: -0.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.navbar-root .container .brand img {
  position: absolute;
  top: 0.6rem;
  height: 4rem;
  width: 4rem;
}
.navbar-root .container .brand span {
  padding-left: 5rem;
}
.navbar-root .container .nav {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0 2rem;
  margin: 0;
  list-style: none;
  white-space: nowrap;
}
.navbar-root .container .nav .item {
  padding: 0 1rem;
  font-size: 1.75rem;
}
.navbar-root .container .nav .link {
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}
.navbar-root .container .nav :hover {
  background-color: #48d;
}
.navbar-root .container .user {
  display: block;
  margin-left: auto;
  font-size: 1.75rem;
  white-space: nowrap;
}
.navbar-root .container .user :hover img {
  background-color: #48d;
}
.navbar-root .container .user .avatar {
  position: relative;
  top: 0.3rem;
  margin: -0.3rem 0;
  height: 2rem;
  width: 2rem;
  padding: 0.2rem;
  border-radius: 100%;
}
.navbar-root .container .user .name {
  margin-left: 0.2rem;
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}
.navbar-root .container .user .logout {
  height: 2rem;
  width: 2rem;
}
.navbar-root .container .user .login {
  left: 0;
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}
.navbar-root .container .user .login :hover {
  background-color: #48d;
}
.navbar-root .container .discord-login {
  height: 1rem;
}
.navbar-root .content {
  padding: 3rem;
}

.blueprint {
  display: grid;
  grid-template-rows: 10rem 24rem 16rem;
  grid-template-columns: 4fr 2fr;
  gap: 1.25em;
}
.blueprint div {
  background-color: #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
}
.blueprint div::-webkit-scrollbar {
  width: 20px;
}
.blueprint div::-webkit-scrollbar-thumb {
  background-color: #555;
  background-clip: padding-box;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
}
.blueprint .viewport {
  grid-area: span 2/span 1;
}
.blueprint .stats {
  grid-area: span 1/span 1;
}
.blueprint .stats .list {
  margin: -0.25rem 0;
  padding: 0;
  font-size: inherit;
}
.blueprint .stats .title {
  font-weight: bold;
  padding-right: 1rem;
}
.blueprint .stats .title::after {
  content: ":";
}
.blueprint .description {
  grid-area: span 1/span 1;
  overflow-y: auto;
}
.blueprint .description p {
  margin: 0;
}
.blueprint .description p + p {
  margin-top: 1rem;
}
.blueprint .forks {
  grid-area: span 1/span 1;
}
.blueprint .export {
  grid-area: span 1/span 1;
}

/*# sourceMappingURL=style.css.map */
