:root {
  font: Calibri, Arial, sans-serif;
  --blue: #6af;
  --dark-blue: #48d;
  --grey: #ccc;
  --dark-grey: #555;
  --gap-between-containers: 2.5rem;
}

body {
  background-color: #ddd;
  margin: 0;
  color: #000;
  font: 1.5rem Calibri, Arial, sans-serif;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.navbar-root {
  position: sticky;
  z-index: 999;
  width: auto;
  left: 0;
  top: 0;
  padding: 0.5rem 2rem;
  margin-bottom: var(--gap-between-containers);
  background-color: var(--blue);
  color: #fff;
}
.navbar-root a {
  color: inherit;
}
.navbar-root .container {
  max-width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  position: relative;
  user-select: none;
}
.navbar-root .container .brand {
  display: block;
  margin-left: -1.5rem;
  font-size: 2rem;
  font-weight: bold;
}
.navbar-root .container .brand img {
  position: absolute;
  top: 0.25rem;
  height: 4rem;
  width: 4rem;
}
.navbar-root .container .brand span {
  padding-left: 5rem;
}
.navbar-root .container .nav {
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0 2rem;
  margin: 0;
  list-style: none;
  white-space: nowrap;
  overflow: hidden;
}
.navbar-root .container .nav .item {
  margin: 0 0.6rem;
  font-size: 1.75rem;
}
.navbar-root .container .nav .item:hover {
  transform: translateY(-1px);
}
.navbar-root .container .nav .item:hover > .link {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar-root .container .nav .item:active {
  transform: translateY(1px);
}
.navbar-root .container .nav .item:active > .link {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px inset;
}
.navbar-root .container .nav .item .link {
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}
.navbar-root .container .user {
  display: block;
  margin-left: auto;
  font-size: 1.75rem;
  white-space: nowrap;
}
.navbar-root .container .user .avatar {
  position: relative;
  top: 0.3rem;
  margin: -0.3rem 0;
  padding: 0.2rem;
  height: 2rem;
  width: 2rem;
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar-root .container .user .avatar:active {
  transform: translateY(2px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px inset;
}
.navbar-root .container .user .name {
  margin-left: 0.2rem;
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.navbar-root .container .user .name:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar-root .container .user .name:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px 0px inset;
}
.navbar-root .container .user .login {
  left: 0;
  padding: 0 0.4rem;
  border-radius: 0.5rem;
}
.navbar-root .container .user .login:hover {
  background-color: var(--dark-blue);
}
.navbar-root .container .user-logout .logout {
  margin-bottom: -0.3rem;
  margin-left: 0.15rem;
  padding: 0.1rem;
  padding-left: 0.2rem;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 0.25rem;
}
.navbar-root .container .user-logout .logout:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.navbar-root .container .user-logout .logout:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px 0 inset;
}
.navbar-root .container .discord-login {
  height: 1rem;
}

.header {
  padding: 0 var(--gap-between-containers);
  height: 4rem;
  display: grid;
  grid-template-columns: auto 1fr auto;
  margin: 3rem 0 1.65rem 0;
}
.header .title {
  grid-area: span 1/span 1;
  font-weight: 900;
  font-size: 2rem;
  float: left;
}
.header .tags {
  grid-area: span 1/span 1;
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  padding-right: 0;
  word-break: break-all;
}
.header .tags .tag {
  text-align: center;
  font-size: 1.25rem;
  padding: 0.1rem 0.5rem;
  margin: 0.25rem;
  margin-top: auto;
  border-radius: 2rem 0 2rem 2rem;
  color: #fff;
}
.header .tags .tag::before {
  content: "#";
}
.header .icons {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.header .icons > * .icon {
  padding: 0.4rem;
  width: 2rem;
  height: 2rem;
  filter: invert(66%) sepia(0%) saturate(62%) hue-rotate(145deg) brightness(93%) contrast(89%);
}
.header .icons .star .icon {
  border-radius: 1rem;
}
.header .icons .star .clickbox {
  position: absolute;
  margin: 0;
  left: 0;
  z-index: 2;
  opacity: 0;
  width: 33.5%;
  height: 100%;
}
.header .icons .star .clickbox:hover + .icon {
  filter: invert(61%) sepia(31%) saturate(6001%) hue-rotate(192deg) brightness(89%) contrast(93%);
}
.header .icons .star .clickbox:checked + .icon {
  filter: invert(68%) sepia(40%) saturate(7087%) hue-rotate(192deg) brightness(91%) contrast(90%);
}
.header .line {
  grid-area: span 2/span 3;
  height: 0.15rem;
  background-color: var(--dark-grey);
}
.header .author {
  font-weight: 800;
  font-size: 1.5rem;
  color: var(--blue);
}

.content {
  padding: var(--gap-between-containers);
  height: auto;
}
.content .blueprint {
  display: grid;
  grid-template-rows: auto 35% auto;
  grid-template-columns: 3fr 1.5fr;
  gap: var(--gap-between-containers);
}
.content .blueprint > * {
  background-color: var(--grey);
  border-radius: 0.5rem;
  padding: 1rem;
}
.content .blueprint > * ::-webkit-scrollbar {
  width: 20px;
}
.content .blueprint > * ::-webkit-scrollbar-thumb {
  background-color: #555;
  background-clip: padding-box;
  border-radius: 10px;
  border: 5px solid rgba(0, 0, 0, 0);
}
.content .blueprint .viewport {
  padding: 0;
  grid-area: span 2/span 1;
  cursor: grab;
}
.content .blueprint .viewport .canvas {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  overflow: hidden;
}
.content .blueprint .viewport .canvas:active {
  cursor: grabbing;
}
.content .blueprint .stats {
  grid-area: span 1/span 1;
}
.content .blueprint .stats .list {
  margin: -0.25rem 0;
  padding: 0;
  font-size: inherit;
}
.content .blueprint .stats .title {
  font-weight: bold;
  padding-right: 1rem;
}
.content .blueprint .stats .title::after {
  content: ":";
}
.content .blueprint .description {
  grid-area: span 1/span 1;
  overflow-y: auto;
  padding: 0 0 0 1rem;
}
.content .blueprint .description > * {
  margin: 1rem 0;
}
.content .blueprint .forks {
  grid-area: span 1/span 1;
}
.content .blueprint .export {
  grid-area: span 1/span 1;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-rows: 2.5rem 11.5rem;
  position: relative;
}
.content .blueprint .export > * {
  grid-area: span 1/span 1;
  margin: 0;
  word-break: break-all;
}
.content .blueprint .export .nav {
  background-color: var(--dark-grey);
  position: relative;
  display: inline-flex;
  flex-flow: row nowrap;
  padding: 0.25rem 0.5rem 0rem 0.5rem;
  white-space: nowrap;
  border-radius: 0.5rem 0.5rem 0 0;
  text-align: center;
  user-select: none;
}
.content .blueprint .export .nav > * {
  font-size: 1.5rem;
  padding: 0 0.5rem 0.425rem 0.5rem;
  border: none;
  color: #fff;
}
.content .blueprint .export .nav .copy {
  height: calc(100% - 0.25rem);
  background-color: var(--blue);
  padding: 0 0.5rem;
  border-radius: 0.5rem;
}
.content .blueprint .export .nav .copy:hover {
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 4px;
}
.content .blueprint .export .nav .copy:active {
  transform: translateY(1px);
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 4px 0 inset;
}
.content .blueprint .export .nav .selectors {
  margin-left: auto;
  width: auto;
}
.content .blueprint .export .nav .selectors > * {
  display: inline-block;
  border: none;
  margin: 0.65rem 0.5rem 0 0.5rem;
  color: #fff;
  word-break: break-all;
  font: 1.25rem Consolas, monospace;
  position: relative;
}
.content .blueprint .export .nav .selectors > *::before {
  content: "";
  position: absolute;
  top: 0;
  right: -0.5rem;
  bottom: 0;
  left: -0.5rem;
  z-index: -1;
  border-radius: 0.5rem 0.5rem 0 0;
  transform: scale(1.1, 1.3) perspective(0.6rem) rotateX(5deg);
  transform-origin: bottom;
}
.content .blueprint .export .nav .selectors #json-button {
  padding: 0 2rem 0.05rem 2rem;
}
.content .blueprint .export .nav .selectors .selected-tab {
  color: #000;
  z-index: 2;
  background-color: var(--grey);
}
.content .blueprint .export .nav .selectors .selected-tab::before {
  background-color: var(--grey);
}
.content .blueprint .export .nav .selectors .tab {
  z-index: 1;
  background-color: var(--blue);
}
.content .blueprint .export .nav .selectors .tab::before {
  background-color: var(--blue);
}
.content .blueprint .export .data {
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 1.75rem);
  padding: 1rem;
  padding-right: 0rem;
  padding-top: 0.75rem;
  font-family: monospace;
}
.content .blueprint .export .data > * {
  margin: 0;
  padding: 0;
  word-break: break-all;
  font-size: 1.25rem;
}
.content .blueprint .export .data .json {
  display: none;
}

/*# sourceMappingURL=style.css.map */
